complex no

In [1]:
c1 = 10 + 1.5j
c2 = 11 + 2.5j
print('Addition of two complex number =', c1 + c2)
print('Subtraction of two complex number =', c1 - c2)
print('Multiplication of two complex number =', c1 * c2)
print('Divide of two complex number =', c1 / c2)

Addition of two complex number = (21+4j)
Subtraction of two complex number = (-1-1j)
Multiplication of two complex number = (106.25+41.5j)
Divide of two complex number = (0.893909626719057-0.06679764243614929j)

maximum no

In [4]:
a= int (input('enter a :'))
b= int (input('enter b :'))
c=int (input('enter c :'))
maximum = max(a, b, c) 
print(maximum)

enter a :20
enter b :45
enter c :10
45

minimum no

In [7]:
a= int (input('enter a :'))
b= int (input('enter b :'))
c=int (input('enter c :'))
minimum = min(a, b, c) 
print(minimum)

enter a :20
enter b :45
enter c :11
11

sum of no

In [8]:
x= int (input('enter x :'))
y= int (input('enter y :'))
print('sum=', x + y)

enter x :200
enter y :420
sum= 620

increasing order

In [1]:
num = [45, 33, 47, 10, 51, 41, 26, 89, 47, 10]
num.sort()
print(num)

[10, 10, 26, 33, 41, 45, 47, 47, 51, 89]

area of circle

In [5]:
r = float(input('enter the redius ='))
pi = 3.14
area = pi * r * r
print(area)

enter the redius =2
12.56

square root

In [9]:
num = int(input('enter no ='))
sqrt = num ** 0.5
print("square root:", sqrt)

enter no =25
square root: 5.0

swap two variables

In [12]:
x = int(input('enter the x ='))
y = int(input('enter the y ='))
x, y = y, x
print("x =", x)
print("y =", y)

enter the x =22
enter the y =24
x = 24
y = 22

number is positive or negitive

In [20]:
a = int(input('enter the no ='))
if (a>0):
  print('positive')
elif (a==0):
    print('zero')
else:
      print('negative')

enter the no =23
positive

product of two integer value

In [11]:
x =int (input('enter the value of x ='))
y =int (input('enter the value of y ='))
product = x * y
if (product < 1000):
  print('product',product)
else:
  print('sum',x+y)

enter the value of x =1000
enter the value of y =2
sum 1002

number in range

In [1]:
lower = int(input("Enter lower bound of range: "))
upper = int(input("Enter upper bound of range: "))
sum = 0
for i in range(lower, upper + 1):
  sum = sum + i
  i = i + 1
print("Sum is ", sum)

Enter lower bound of range: 0
Enter upper bound of range: 10
Sum is  55

even index no

In [1]:
def printEveIndexChar(str):
  for i in range(0, len(str)-1, 2):
    print("index[",i,"]", str[i] )

inputStr = "pynative" 
print("Orginal String is ", inputStr)

print("Printing only even index chars")
printEveIndexChar(inputStr)

Orginal String is  pynative
Printing only even index chars
index[ 0 ] p
index[ 2 ] n
index[ 4 ] t
index[ 6 ] v

 return a new string

In [4]:
def removeChars(str, n):
  return str[n:]

print("Removing n number of chars")
print(removeChars("pynative", 4))

Removing n number of chars
tive

 return True if first and last number of a list is same

In [5]:
def isFirst_And_Last_Same(numberList):
    print("Given list is ", numberList)
    firstElement = numberList[0]
    lastElement = numberList[-1]
    if (firstElement == lastElement):
        return True
    else:
        return False

numList = [10, 20, 30, 40, 10]
print("result is", isFirst_And_Last_Same(numList))

Given list is  [10, 20, 30, 40, 10]
result is True

 divisible of 5

In [7]:
def findDivisible(numberList):
    print("Given list is ", numberList)
    print("Divisible of 5 in a list")
    for num in numberList:
        if (num % 5 == 0):
            print(num)

numList = [10, 40, 22, 27, 55, 75, 100]
findDivisible(numList)

Given list is  [10, 40, 22, 27, 55, 75, 100]
Divisible of 5 in a list
10
40
55
75
100

 the total count of sub-string “Emma” appears in the given string

In [8]:
sampleStr = "Emma is good developer. Emma is a writer"
cnt = sampleStr.count("Emma")
print(cnt)

2

print pattern

In [9]:
for num in range(10):
    for i in range(num):
        print (num, end=" ")
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6 6 6

7 7 7 7 7 7 7

8 8 8 8 8 8 8 8

9 9 9 9 9 9 9 9 9

Reverse number

In [21]:
def reverseCheck(number):
    print("original number", number)
    originalNum = number
    reverseNum = 0
    while (number > 0):
        reminder = number % 10
        reverseNum = (reverseNum * 10) + reminder
        number = number // 10
    if (originalNum == reverseNum):
        return True
    else:
        return False

print("The original and reverse number is the same:", reverseCheck(121))

original number 121
The original and reverse number is the same: True

even and odd list

In [26]:
def mergeList(listOne, listTwo):
    print("First List ", listOne)
    print("Second List ", listTwo)
    thirdList = []
    
    for num in listOne:
        if (num % 2 != 0):
            thirdList.append(num)
    for num in listTwo:
        if (num % 2 == 0):
            thirdList.append(num)
    return thirdList

listOne = [23, 11, 17]
listTwo = [26, 44, 12]

print("result List is", mergeList(listOne, listTwo))

First List  [23, 11, 17]
Second List  [26, 44, 12]
result List is [23, 11, 17, 26, 44, 12]

reverse order

In [27]:
number = 54321
print("Given number", number)
while (number > 0):
    digit = number % 10
    
    number = number // 10
    print(digit, end=" ")

Given number 54321
1 2 3 4 5

Leap year

In [35]:
year = int(input("Enter Year: "))

if year % 4 == 0 and year % 100 != 0:
    print("Leap Year", year)
elif year % 100 == 0:
    print("not a Leap Year", year)
elif year % 400 ==0:
    print("Leap Year", year)
else:
    print("not a Leap Year", year)

Enter Year: 1994
not a Leap Year 1994

even odd number

In [38]:
num = int(input('enter the number'))
if ((num %2) ==0):
  print('number is even')
else:
    print('number is odd')

enter the number22
number is even

without using max function

In [39]:
list1 = [10, 20, 4, 45, 25] 
list1.sort() 
  
print("Largest element is:", list1[-1])

Largest element is: 45

find subsring

In [43]:
mystring = "Meet Guru99 Tutorials Site.Best site for Python Tutorials!"
print("The position of Tutorials is at:", mystring.find("Tutorials"))

The position of Tutorials is at: 12